HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### self rules ###
mvn-repo/
/note
src/main/resources/document/
# 忽略所有 application 配置（含多环境）
src/main/resources/application*.yml
src/main/resources/application*.yaml
src/main/resources/application*.properties

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
# Ignore sensitive config
src/main/resources/mcp-servers.json
